*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "DM Sans", sans-serif;
  text-decoration: none;
}

body{
  max-width: 1650px;
  padding: 0 3em;
  margin: auto;
  background-color: #dfdbdb;
}

.title{
  font-size: 70px;
  color: #00ff55ec;
  margin-top: 50px;
  margin-bottom: 30px;
}

form{
  display: flex; 
  width: 100%;
  margin: auto;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}
form input {
  width: 100%;
  padding: 12px;
  border: none;
  outline: none;
}

button{
  padding: 12px;
  border: none;
  cursor: pointer;
  background-color: #00ff55ec;
  position: relative;
  font-weight: 900;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
}

button:hover {
  background-color: #00ff00;
}

.songs{
  margin-bottom: 50px;
}


img {
  background-size: cover;
  width: 100%;
  height: auto;
  border-top-right-radius: 12px;
  border-top-left-radius: 12px;
  border-color: 4px solid black;
}


.songName{
  text-align: center;
  padding: 20px;
  color: #00ff55ec;
  font-weight: 700;
  font-size: 36px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}


.artistProfile{
  text-align: center;
  max-width: 300px;
  padding: 20px;
  font-size: 15px; 
  margin-bottom: 12px;
  color: #4c15b1;
  overflow: hidden;
}

.artistProfile:hover{
  text-decoration: underline;
}

.grid{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  border-radius: 12px;
}

.card{
  width: 100%;
  background-color: #f3f3f3;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
  border-radius: 12px;
  transition: transform 0.3s, box-shadow 0.3s;
}

.card:hover{
  transform: scale(1.03);
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2); 
}

